<div class="content">
  <div class="container">
    <div class="order-header-text">
      <span>Orders</span>
      <div class="searchBox-fakeInput">
        <div class="searchBox-inputWrapper">
          <input
            type="text"
            class="form-control searchBox-input js-searchBox-input"
            placeholder="Search"
          />
        </div>
        <div class="searchBox-clearWrapper">
          <span class="searchBox-clear js-clearSearchBox"
            ><i class="fa fa-times-circle"></i
          ></span>
        </div>
      </div>
      <!-- <div>
        <i class="fas fa-search"></i>

        <input type="text" id="searchInput" placeholder="Search" />
        <i class="fas fa-times" id="clearIcon"></i>
      </div>
    </div> -->
    </div>

    <div class="container">
      <table id="ordersTable">
        <thead>
          <tr>
            <th>Product Name</th>
            <th>Order Date</th>
            <th>Order Price</th>
            <th>Order Status</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td colspan="4"><i>Loading...</i></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="container">
      <i id="prevButton" class="fas fa-chevron-left">Previous</i>
      <i id="nextButton" class="fas fa-chevron-right">Next</i>
    </div>
  </div>

  <script src="js/orders.js" defer></script>
</div>
