<div class="content">
  <div class="container">
    <div class="order-header-text">
      <span>Orders</span>
    </div>
    <div class="order-header-search">
      <input type="text" placeholder="Search" />
    </div>
  </div>

  <div class="container">
    <table id="ordersTable">
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Order Date</th>
          <th>Order Price</th>
          <th>Order Status</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td colspan="4"><i>Loading...</i></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="container">
    <i id="prevButton" class="fas fa-chevron-left">Next</i>
    Page 1 of 10

    <i id="nextButton" class="fas fa-chevron-right"></i>
  </div>
</div>

<script src="js/orders.js" defer></script>
