<div class="login-div">
  <div class="login-head">
    <div class="login-head-text">
      <span>Freddy's Artisanal Halloween Candy Shop</span>
    </div>
    <div class="login-head-img">
      <img src="assets/Freddys_Logo.svg" class="login-img" />
    </div>
  </div>
  <form class="login-form">
    <div class="input-div">
      <input type="text" id="username" name="username" placeholder="Username" />
    </div>
    <div class="input-div">
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Password"
      />
    </div>
    <div class="input-div">
      <button type="submit" class="login-btn">Login</button>
    </div>
  </form>
</div>
<script src="js/auth.js" defer></script>
