<div class="content">
  <div class="order-header">
    <div class="order-header-text">
      <span>Dashboard</span>
    </div>
  </div>

  <div class="">
    <div class="dashboard-card">
      <div class="dashboard-card-header">
        <div class="dashboard-card-header-text">
          <span>Today</span>
        </div>
        <div class="dashboard-card-header-img">
          <img src="assets/box.svg" alt="box" />
        </div>
      </div>
      <div class="dashboard-card-body">
        <div class="dashboard-card-body-text">
          <span>10</span>
        </div>
      </div>
    </div>
    <div class="dashboard-card">
      <div class="dashboard-card-header">
        <div class="dashboard-card-header-text">
          <span>Last Week</span>
        </div>
        <div class="dashboard-card-header-img">
          <img src="assets/box.svg" alt="box" />
        </div>
      </div>
      <div class="dashboard-card-body">
        <div class="dashboard-card-body-text">
          <span>10</span>
        </div>
      </div>
    </div>
    <div class="dashboard-card">
      <div class="dashboard-card-header">
        <div class="dashboard-card-header-text">
          <span>Last Month</span>
        </div>
        <div class="dashboard-card-header-img">
          <img src="assets/box.svg" alt="box" />
        </div>
      </div>
      <div class="dashboard-card-body">
        <div class="dashboard-card-body-text">
          <span>10</span>
        </div>
      </div>
    </div>
  </div>
</div>
