<div class="content">
  <div class="container">
    <div class="order-header-text">
      <span>Dashboard</span>
    </div>
  </div>

  <div class="container">
    <div class="dashboard-card">
      <div class="dashboard-card-header">
        <div class="dashboard-card-header-text">
          <span>Today</span>
        </div>
        <div class="dashboard-card-header-img">
          <i class="fas fa-calendar-day"></i>
        </div>
      </div>
      <div class="dashboard-card-body">
        <div class="dashboard-card-body-text">
          <span>$1456K / 9 0rders</span>
        </div>
      </div>
    </div>
    <div class="dashboard-card">
      <div class="dashboard-card-header">
        <div class="dashboard-card-header-text">
          <span>Last Week</span>
        </div>
        <div class="dashboard-card-header-img">
          <i class="fas fa-calendar-week"></i>
        </div>
      </div>
      <div class="dashboard-card-body">
        <div class="dashboard-card-body-text">
          <span>$34K / 120 0rders</span>
        </div>
      </div>
    </div>
    <div class="dashboard-card">
      <div class="dashboard-card-header">
        <div class="dashboard-card-header-text">
          <span>Last Month</span>
        </div>
        <div class="dashboard-card-header-img">
          <i class="fas fa-calendar-days"></i>
        </div>
      </div>
      <div class="dashboard-card-body">
        <div class="dashboard-card-body-text">
          <span>$95K / 876 0rders</span>
        </div>
      </div>
    </div>
  </div>

  <div class="container-col">
    <div>
      <span>Revenues</span>
    </div>
    <canvas id="myChart" width="200" height="80"></canvas>
  </div>

  <div class="container-col">
    <div>
      <span>Best Sellers</span>
    </div>
    <table>
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Order Date</th>
          <th>Order Price</th>
          <th>Order Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John Doe</td>
          <td>2020-10-10</td>
          <td>$100</td>
          <td>Delivered</td>
        </tr>
        <tr>
          <td>John Doe</td>
          <td>2020-10-10</td>
          <td>$100</td>
          <td>Delivered</td>
        </tr>
        <tr>
          <td>John Doe</td>
          <td>2020-10-10</td>
          <td>$100</td>
          <td>Delivered</td>
        </tr>
        <tr>
          <td>John Doe</td>
          <td>2020-10-10</td>
          <td>$100</td>
          <td>Delivered</td>
        </tr>

        <tr>
          <td>John Doe</td>
          <td>2020-10-10</td>
          <td>$100</td>
          <td>Delivered</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<script src="js/chart.js"></script>
