<div class="content">
  <div class="container">
    <div class="order-header-text">
      <span>Dashboard</span>
    </div>
  </div>

  <div class="container">
    <div class="dashboard-card">
      <div class="dashboard-card-header">
        <div class="dashboard-card-header-text">
          <span>Today</span>
        </div>
        <div class="dashboard-card-header-img">
          <i class="fas fa-calendar-day"></i>
        </div>
      </div>
      <div class="dashboard-card-body">
        <div class="dashboard-card-body-text">
          <span>$1456K / 9 0rders</span>
        </div>
      </div>
    </div>
    <div class="dashboard-card">
      <div class="dashboard-card-header">
        <div class="dashboard-card-header-text">
          <span>Last Week</span>
        </div>
        <div class="dashboard-card-header-img">
          <i class="fas fa-calendar-week"></i>
        </div>
      </div>
      <div class="dashboard-card-body">
        <div class="dashboard-card-body-text">
          <span>$34K / 120 0rders</span>
        </div>
      </div>
    </div>
    <div class="dashboard-card">
      <div class="dashboard-card-header">
        <div class="dashboard-card-header-text">
          <span>Last Month</span>
        </div>
        <div class="dashboard-card-header-img">
          <i class="fas fa-calendar-days"></i>
        </div>
      </div>
      <div class="dashboard-card-body">
        <div class="dashboard-card-body-text">
          <span>$95K / 876 0rders</span>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="order-header-text">
      <span id="weekText"><h3>Revenue (last 7 days)</h3></span>
      <span id="monthText"><h3>Revenue (last 12 months)</h3></span>

      <div style="display: flex">
        <label class="switch">
          <input type="checkbox" id="toggleButton" name="toggleButton" />
          <span class="slider round"></span>
        </label>
      </div>
    </div>

    <canvas id="weeklyChart" width="200" height="80"></canvas>
    <canvas id="monthlyChart" width="200" height="80"></canvas>
  </div>

  <div class="container-col">
    <div>
      <span><h2>Best Sellers</h2></span>
    </div>
    <table id="table">
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Price</th>
          <th># Units Sold</th>
          <th>Revenue</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="4"><i>Loading...</i></td>
        </tr>
      </tbody>
    </table>
    <div class="container">
      <button id="prevButton" class="pgButton">Previous</button>
      <button id="nextButton" class="pgButton">Next</button>
    </div>
  </div>
</div>

<script src="js/chart.js" defer></script>
