<div class="login-div">
  <div class="login-head">
    <div class="login-head-text">
      <span>Freddy's Artisanal Halloween Candy Shop</span>
    </div>
    <div class="login-head-img">
      <img src="assets/Freddys_Logo.svg" class="login-img" />
    </div>
  </div>
  <form>
    <div class="login-form">
      <div class="login-form-input">
        <input
          type="text"
          id="username"
          name="username"
          placeholder="Username"
          class="login-form-input"
        />
      </div>
      <div class="login-form-input">
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Password"
          class="login-form-input"
        />
      </div>
      <div class="login-form-input">
        <input type="submit" value="Login" />
      </div>
    </div>
  </form>
</div>
