:root {
    --color-primary: #f00;
    --color-secondary: #0f0;
    --color-tertiary: rgb(0, 110, 255);
    background-color: #dddddd;
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    min-width: 100vw;
    min-height: 100vh;
    scroll-behavior: smooth;
}

/* body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 100vw;
    min-height: 100vh;
} */

body {
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    margin: 0;
    /* background-color: var(--color-primary); */
}

.login-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid rgb(65, 61, 61);
    margin: auto;
    margin-top: 15%;
    width: 50%;
    padding: 5px;


}

.login-head {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.login-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
}

.login-head-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    flex-wrap: wrap;
}

.login-head-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 100%;
}



.input-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 100%;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}

.login-btn {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}