<aside>
  <div class="sidebar" id="sidebar">
    <div class="profile">
      <img src="assets/Freddys_Logo.svg" alt="Freddys_Logo" />
    </div>
    <ul>
      <li>
        <a href="/dashboard">
          <i class="fas fa-home"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a href="/orders">
          <i class="fas fa-shopping-cart"></i>
          <span>Orders</span>
        </a>
      </li>
      <li>
        <a href="/" id="logOut">
          <i class="fas fa-box"></i>
          <span>Logout</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
<script src="js/sidebar-toggle.js"></script>
